{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block newuser %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

    {# {{ form_start(form, {'attr': {'id': 'new_edit_user'}}) }}
        <div class="row">
                <div class="col-12">
                        {{ form_label(form.email) }}
                </div>
                <div class="col-12">
                        {{ form_label(form.password) }}
                </div>
                <div class="col-12">
                        <label for="verifpass">Saisir une seconde fois le mot de passe</label>
                        <input type="password" id="verifpass" required>
                </div>
        </div>
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

    <a href="{{ path('app_user_index') }}" class="btn btn-outline-warning mt-2">back to list</a>
{% endblock %}
