{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block commande %}
    <h1>Vos commandes</h1>

    <table class="table" id="commandeTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>AdresseLivraison</th>
                <th>CpLivraiso.id</th>
                <th>VilleLivraison</th>
                <th>AdresseFacture</th>
                <th>CpFacture</th>
                <th>VilleFacture</th>
                <th>DateFacture</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
    
        <tbody>
        {% for commande in commandes %}
            {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                        <td>{{ commande.adresseLivraison }}</td>
                        <td>{{ commande.cpLivraison }}</td>
                        <td>{{ commande.villeLivraison }}</td>
                        <td>{{ commande.adresseFacture }}</td>
                        <td>{{ commande.cpFacture }}</td>
                        <td>{{ commande.villeFacture }}</td>
                        <td>{{ commande.dateFacture ? commande.dateFacture|date('Y-m-d') : '' }}</td>
                        <td>{{ commande.total }}</td>
                        <td>
                            <a href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                        </td>
                    </tr>
            
            {% elseif app.user.client.id == commande.client.id %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                        <td>{{ commande.adresseLivraison }}</td>
                        <td>{{ commande.cpLivraison }}</td>
                        <td>{{ commande.villeLivraison }}</td>
                        <td>{{ commande.adresseFacture }}</td>
                        <td>{{ commande.cpFacture }}</td>
                        <td>{{ commande.villeFacture }}</td>
                        <td>{{ commande.dateFacture ? commande.dateFacture|date('Y-m-d') : '' }}</td>
                        <td>{{ commande.total }}</td>
                        <td>
                            <a href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                        </td>
                    </tr>
            {% endif %}
        {% else %}
            <div class="paniervide">
                <div class="cardpaniervide">
                    <h3>Vous n'avez pas encore passé de commandes !</h3>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>





{% endblock %}
