{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block search %}

    {% if produits | length == 0 %}

        <div colspan="8">Aucun résultat pour votre recherche

    {% else %}

        {% for produit in produits %}
        <ul class="cards_produit">
                <a href="{{ path('app_produit_show', {'id': produit.id}) }}">
                    <li class="cards__item_produit">
                        <div class="card_produit">
                        <div class="card__image_produit"> 
                            <img src="/upload/img/produit/{{ produit.photo }}"                
                            </div>
                        <div class="card__content_produit">
                                <h5 class="card-title fs-3 fw-bold" id="nomproduit">{{ produit.libelleCourt }}</h5>
                                    <p class="card-text fs-1 fw-bold" id="prixproduit"><small class"text-muted">{{ produit.prixHorsTaxe }}€</small></p>
                                <a href="{{ path('cart_add', {'id': produit.id }) }}"><i class="fa-solid fa-cart-plus"></i></a> 
                        </div>
                        </div>     
                    </li>
                </a>
            </ul>
            
        {% endfor %}

    {% endif %}
{% endblock %}
