{% extends 'base.html.twig' %}


{% block mail %}

    <div class="container">
        {% for message in app.flashes('message') %}
            <div class="alert alert-success mt-2" role="alert">{{ message }}</div>
        {% endfor %}

        <h2 class="mt-2">Nous contacter</h2><br/>

        {{ form_start(form) }}

            {{ form_row(form.email) }}
            {{ form_row(form.message) }}

            {{ form_row(form.Envoyer)}}


        {{ form_end(form) }}
    </div>

{% endblock %}
