<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}The Blue Village{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
                    {{ encore_entry_link_tags('app') }}
                    <link rel="stylesheet" href="/css/styles.css">
        {% endblock %}


        
    </head>
<body>
<div class="bg">
    <div class="container1">
        <div class="navgauche">
        <ul>
            <li><a href="{{ path('rubrique') }}" ><i class="fa-solid fa-house"></i></a></li>
            <li><i class="fa-solid fa-house" id="homehidden"></i></li>
        </ul>
        </div>

        <div class="navmilieu">
            <a href="{{ path('rubrique') }}">The Blue Village</a>
            {# <input type="text" class="search" placeholder="Rechercher"> #}
            {{ render(controller(
                'App\\Controller\\SearchController::searchBar'
            )) }}
            {# {{ path('app_searchBar') }} #}
        </div>
        
        <div class="navdroite">
            <ul>
                <li><a href="#" data-bs-toggle="offcanvas" 
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-user"></i></a></li>         
                <li><a href="{{ path('app_cart') }}" ><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>


            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
            {% if app.user %}
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Vous êtes connecté</h5>
            {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">


<form method="post" action="/login"> 

      {% if error is defined and error.messageKey is defined %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user and is_granted('ROLE_ADMIN') == false %}



        <div class="mb-3 d-flex flex-column text-center">
            Bonjour {{ app.user.userIdentifier }} <br>

            <a href="{{ path('app_client') }}" class="btn btn-outline-info mt-5 text-dark w-50 align-self-center">Mon profil</a>

            <a href="{{ path('app_commande_index') }}" class="btn btn-outline-success mt-5 text-dark w-50 align-self-center">Mes commandes</a>

            <a href="{{ path('app_logout') }}" class="btn btn-outline-danger text-dark mt-5 w-50 align-self-center">Déconnexion</a>
        </div>

    {% elseif is_granted('ROLE_ADMIN') %}

        <div class="mb-3 d-flex flex-column text-center">
            Bonjour {{ app.user.userIdentifier }} <br>

            <a href="{{ path('app_user_index') }}" class="btn btn-outline-info mt-5 text-dark w-50 align-self-center">Profil Clients</a>

            <a href="{{ path('app_commande_index') }}" class="btn btn-outline-success mt-5 text-dark w-50 align-self-center">Commandes Clients</a>

            <a href="{{ path('app_logout') }}" class="btn btn-outline-danger text-dark mt-5 w-50 align-self-center">Déconnexion</a>
        </div>

    {% endif %}

    
{% if is_granted('ROLE_USER') == false %}


    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary mt-3" type="submit">
        Connexion
    </button>
</form>

Vous n'avez pas de compte ?<a href="{{ path('app_register') }}"> Inscivez-vous !</a>

    {% endif %}
            </div>
            </div>

        </div>
    </div>
</form>

        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-light bg-info col-12" id="rubriques">
                <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% for rub in rubrique %}
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item" id="navitem">
                        <a class="nav-link active" aria-current="page" href="{{ path('sousRubrique', {'id' : rub.id}) }}">{{ rub.nom }}</a>
                        </li>
                    </ul>
                    </div>
                {% endfor %}
                </div>
            </nav>


        {% endblock %}

            {% block commande %}
            {% endblock %}

            {% block rubrique %}
            {% endblock %}

            {% block paiement %}
            {% endblock %}

            {% block mail %}
            {% endblock %}

            {% block contact %}
            {% endblock %}

            {% block produitphare %}
            {% endblock %}

            {% block produit %}
            {% endblock %}

            {% block panier %}
            {% endblock %}

            {% block admin %}
            {% endblock %}

            {% block clients %}
            {% endblock %}

            {% block search %}
            {% endblock %}

                        {% if message is defined %}
                                <div class="alert alert-danger">
                                        {{ message }}
                                </div>
                        {% endif %}

                        {% block login %}
                        {% endblock %}

                        {% block newuser %}
                        {% endblock %}

                        {% block edituser %}
                        {% endblock %}

                <div class="footer">
                        <div class="footergauche">
                            <ul>
                                <li><a href="#"><i class="fa-solid fa-circle-info"></i> Information légales </a></li>            
                                <li><a href="#"><i class="fa-solid fa-circle-info"></i> Politiques de confidentialité</a></li>
                                <li><a href="#"><i class="fa-solid fa-location-pin"></i> 73 Boulevard Bertin, 44432 Tessier</a></li>
                                <li><a href="#"><i class="fa-solid fa-envelope"></i> BlueVillage@ex.com</a></li>
                                <li><a href="{{ path('app_mailer') }}">Contactez nous !</a></li>
                            </ul>
                        </div>

                    <div class="footermilieu">
                        <ul>
                            <li><i class="fa-brands fa-paypal"></i></li>            
                            <li><i class="fa-brands fa-cc-visa"></i></li>
                        </ul>    
                        <ul>
                            <li><i class="fa-brands fa-apple-pay"></i></li>
                            <li><i class="fa-brands fa-cc-mastercard"></i></li> 
                        </ul>
                        <ul>               
                            <li><i class="fa-brands fa-amazon-pay"></i></li>
                            <li><i class="fa-brands fa-cc-amex"></i></li>
                        </ul>
                    </div>        


                    <div class="footerdroite">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>            
                            <li><a href="#"><i class="fa-brands fa-snapchat"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>                
                        </ul>
                    </div>  
                </div>    

    </body>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/c1bbff1c35.js" crossorigin="anonymous"></script>
        <script src="/js/script.js"></script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
</html>
